

  
    <div class="p-2 border rounded shadow bg-white text-center" style="min-width: 300px;">
  <p>
    <strong>Commenter:</strong>
    <%= @current_user.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Delete", [comment.post, comment],class:"btn btn-sm btn-danger", data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
  </div>

