<div class="user-action" style="padding-left: 55%">
  <% if @current_user.followings.exists?(id: user.id) %>
    <%= link_to "Unfollow",
                "/unfollow?following_id=#{user.id}",
                data: { turbo_method: :delete },
                class: "unfollow-btn btn btn-sm btn-danger" %>
  <% else %>
    <%= link_to "Follow",
                "/follow?following_id=#{user.id}",
                data: { turbo_method: :post },
                class: "follow-btn btn btn-sm btn-secondary" %>
  <% end %>
</div>
