<div class="user-action m-3" data-user-id="<%= user.id %>"  style="flex-grow: 0">
  <% if user.follower_users.exists?(@current_user.id) %>
    <%= link_to "/unfollow?following_id=#{user.id}", data: { turbo: false, turbo_method: :delete }, class: "unfollow-btn btn btn-sm btn-danger" do %>
      Unfollow
    <% end %>
  <% else %>
    <%= link_to "/follow?following_id=#{user.id}", data: { turbo: false, turbo_method: :post }, class: "follow-btn btn btn-sm btn-secondary" do %>
      Follow
    <% end %>
  <% end %>
</div>
