

<%= render  "shared/post_nav"%>
<div class="container d-flex justify-content-center mt-5">
	<div class="p-4 border rounded shadow bg-white" style="min-width: 400px;">
		<h2>All followers</h2>
		<ul>
		<% @followers.each do |follow|%>
		<li><%= follow.follower.name%></li>
		<% end %>
		</ul>
	</div>
</div>
