
<%= stylesheet_link_tag "home_index" %>
<header>
  <nav>
    <div class="logo">
      <a href="/">Instagram</a>
    </div>
      <ul>
          <li><a href="/users/new">Register</a></li>
          <li><a href="/session/new">Login</a></li>
      </ul>
  </nav>
</header>
